.form-container {
    border: 1px solid #ddd;
    padding: 12px;
    margin-top: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
}

.input-container button {
    background-color: #ffb2b2 !important;
    font-size: 20px;
}

.button-container {
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    gap: 8px;
}

.delete-button {
    background-color: #ffb2b2 !important;
    color: #000 !important;
    font-size: 28px !important;
}