.form-container {
    border: 1px solid #ddd;
    padding: 12px;
    margin-top: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
}

.input-container button {
    background-color: #ffb2b2 !important;
    font-size: 20px;
    /* padding: 0 8px !important; */
}

.button-container {
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    gap: 8px;
}

.delete-button {
    background-color: #ffb2b2 !important;
    color: #000 !important;
    font-size: 28px !important;
    padding: 0 12px !important;
}

.edit-button {
    background-color: #b2ffb2 !important;
    color: #000 !important;
    font-size: 20px !important;
    padding: 0 8px !important;
}

.save-button, .cancel-button {
    background-color: #b2ffb2 !important;
    color: #000 !important;
    font-size: 20px !important;
    padding: 4px 8px !important;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

.not-completed {
    text-decoration: none;
    color: #000;
}

.btn-habit-add {
     color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 10px 2px; */
    cursor: pointer;
    border-radius: 4px;
    
    &:hover{
        background-color: #4CAF50;
    }
} 